# Ignore development-only files
.vscode
.git
.gitignore
node_modules
bundles
*.vsix

# Ignore OS-specific files
.DS_Store

# Ignore project-specific files you don't want to ship
.gemini
.history
.tmux-actions.md